* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: #244880;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

.App {
  text-align: center;
  border: 0;
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E0801E;
  cursor: pointer;
}

.container {
  color: #fff;
  padding-top: 50px;
}

.content-container {
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
  color: #fff;
  padding-top: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  background-color: #343434;
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  cursor: pointer;
}

.nav a {
  color: #fff;
}

.brand {
  font-size: 0.9em;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.hero {
  background-image: url("/img/2pgamehero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #343434;
  height: 200px;
}

.feature {
  text-align: center;
  padding: 15px;
  font-size: .9em;
}

.feature:nth-child(3n) {
  background-color: #343434;
}

.feature-title {
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 10px;
  line-height: 1.2;
}

footer {
  display: flex;
  justify-content: center;
  font-size: .6em;
  color: #fff;
  padding-bottom: 10px;
}

.signup {
  margin-right: 5px;
}

.box-art {
  width: 50px;
}

.box-art-big {
  width: 150px;
}

.register, .login {
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.avatar-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
  width: 50px;
  border-radius: 100%;
}

.list-switcher {
  display: flex;
  font-size: .9em;
  justify-content: space-between;
  margin: 0 10px;
}

.list-title {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.contact-container {
  padding-top: 60px;
  color: #fff;
  text-align: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.form-item input {
  width: 75%;
  margin-bottom: 10px;
}

.text-area label[for="message"] {
  display: block;
  padding: 10px;
}

textarea {
  min-height: 150px;
  width: 80%;
  margin-top: 5px;
}

input {
  border-radius: 5px;
  border: 0;
  min-height: 30px;
  width: 60%;
  margin: 5px 0;
}

button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #244880;
  padding: 10px;
}

input[type="checkbox"] {
  width: initial;
  margin: 0;
}

.captcha {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  align-items: center;
}

.results {
  background-color: #363636;
  cursor: pointer;
}

.results-wrapper {
  padding: 10px 0 2.5px;
}

.add-delete-button {
  background-color: #ccc;
  color: black;
  border: 2px solid #555;
  transition: .8s all ease;
  cursor: pointer;
}

.add-delete-button:hover {
  background-color: #E0801E;
  color: white;
}

.game-list {
  background-color: #363636;
  height: 100%;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  margin: 0 10px;
  background-color: #244880;
  cursor: pointer;
}

.game-wrapper .box-art {
  object-fit: cover;
  width: 60px;
}

.game-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-name {
  font-weight: 700;
}

.game-expanded {
  text-align: center;
  background-color: #244880;
  padding: 5px 5px 10px;
  margin: 0 10px;
}

.game-name-wrapper .game-name {
  text-align: right;
}

.game-toggle {
  padding: 5px;
  color: transparent;  
  text-shadow: 0 0 0 white;
}

.results-error {
  padding: 50px 25px 25px;
  text-align: center;
  color: red;
}

.results-loading {
  padding: 50px 25px 25px;
  text-align: center;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  flex-direction: column;
  background-color: #244880;
}

h3 {
  margin: 10px 0;
}

.profile-container {
  padding-top: 50px;
}

.friendLists-container {
  background-color: #343434;
  margin: 0 10px 10px;
  padding: 5px 10px;
}

.empty-friend-list {
  color: #fff;
  padding: 10px;
  margin: 10px;
  background-color: #343434;
  text-align: center;
}

.common-games-list {
  text-align: center;
}

.user-container,
.friendLists-container {
  text-align: center;
  color: #fff;
}

.user-container {
  background-color: #808080;
  padding: 10px;
  margin: 10px;
}

.send-email {
  background-color: #fff;
  color: initial;
}

.login-submit,
.send-email {
  width: 30%;
  transition: .8s all ease;
  background-color: #ccc;
}

.login-submit:hover,
.send-email:hover {
  background-color: #E0801E;
  color: white;
}

.log-button {
  font-size: .8em;
  transition: .8s all ease;
}

.log-button:hover {
  background-color: #E0801E;
  color: white;
}

.reg-button {
  width: 30%;
  transition: .8s all ease;
  background-color: #ccc;
}

.reg-button:hover {
  background-color: #E0801E;
  color: white;
}

.go-button {
  background-color: #E0801E;
}

.searchbar {
  text-align: center;
  margin: 10px 0;
}

.searchbar input {
  margin: 10px 10px 15px 0;
}

.hover-text {
  transition: .8s all ease;
}

.hover-text:hover {
  color: #E0801E;
}

.landing-icon {
  vertical-align: 0;
}

.rounded-border {
  border-radius: 5px;
  border: 0;
}

.selected {
  border: 4px solid #fff;
}

.notSelected {
  border: 0;
}

@media only screen and (min-width: 767px) {
  .nav {
    padding: 0 30px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    height: 400px;
    flex-basis: 100%;
  }

  .feature {
    flex-basis: 33%;
    height: 300px;
    line-height: 1.4;
    padding-top: 30px;
  }

  footer {
    padding-top: 50px;
    flex: 1;
    padding-bottom: 15px;
  }

  .login, .register {
    width: 50%;
    margin: 0 auto;
  }

  .reg-button {
    margin-top: 15px;
  }

  .profile-container {
    width: 85%;
    margin: 0 auto;
  }

  .friend {
    flex-direction: row;
    margin: 15px 0;
  }

  .friendsList-container {
    margin-top: 10px;
  }

  .game-list {
    width: 85%;
    margin: 0 auto;
  }

  .game-expanded {
    padding: 10px 15px 20px;
  }

  .searchbar {
    margin: 15px auto;
    width: 85%;
  }

  .user-container {
    margin: 15px;
  }

}

@media only screen and (min-width: 1023px) {

  .hero {
    height: 500px;
    background-position: top;
  }

  .feature {
    font-size: 1.1em;
    padding: 30px;
  }

  .nav {
    font-size: 1em;
    height: 60px;
  }

  .nav-group {
    width: 150px;
  }

  .avatar-selector {
    width: 80%;
    margin: 0 auto;
  }

  .profile-container {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
  }

  .user-container {
    flex-basis: 33%;
    margin: 0;
  }

  .friendLists-container {
    flex-basis: 60%;
    margin: 0;
  }

  .results .game-wrapper {
    margin: 0 20px;
  }

  .game-expanded {
    padding: 20px 40px 30px;
    line-height: 1.3;
    font-size: 1.1em;
  }

  .searchbar {
    margin: 25px auto 35px;
  }

  .searchbar input {
    max-width: 350px;
  }

  .game-list {
    padding: 10px;
    margin-bottom: 20px;
  }

}

@media only screen and (min-width: 1023px) {
  .nav {
    padding: 0 50px;
  }

  .profile-container,
  .content-container {
    max-width: 1200px;
  }

  .register {
    width: 40%;
    padding-top: 60px;
  }

  .login {
    width: 30%;
    padding-top: 60px;
  }



}