* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: #244880;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
  border: 0;
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E0801E;
  cursor: pointer;
}

.container {
  color: #fff;
  padding-top: 50px;
}

.content-container {
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
  color: #fff;
}

.brand {
  font-size: 0.9em;
  color: #E0801E;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  background-color: #343434;
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  position: fixed;
}

.nav a {
  color: #fff;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.hero {
  background-image: url("/img/2pgamehero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #343434;
  height: 200px;
}

.feature {
  text-align: center;
  padding: 15px;
  font-size: .9em;
}

.feature:nth-child(3n) {
  background-color: #343434;
}

.feature-title {
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 10px;
  line-height: 1.2;
}

footer {
  display: flex;
  justify-content: center;
  font-size: .6em;
}

.signup {
  margin-right: 5px;
}

.box-art {
  width: 50px;
}

.box-art-big {
  width: 150px;
}

.register, .login {
  color: #fff;
  text-align: center;
}

.avatar-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
  width: 50px;
  border-radius: 100%;
}

.list-switcher {
  display: flex;
  font-size: .9em;
  justify-content: space-between;
  margin: 0 10px;
}

.list-title {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 150px;
  width: 80%;
  margin-top: 5px;
  border-radius: 5px;
  border: 0;
}

input {
  margin-top: 5px;
  border-radius: 5px;
  border: 0;
  min-height: 30px;
  width: 60%;
  margin: 5px 0;
}

button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #244880;
  padding: 10px;
}

.contact-form button {
  width: 40%;
  margin: 0 auto;
  padding: 5px;
}

.captcha {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.results {
  background-color: #363636;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
}

.results-wrapper {
  padding: 10px 0 2.5px;
}

.add-delete-button {
  background-color: #fff;
  color: black;
  border: 2px solid #555;
  border-radius: 5px;
  transition: .8s all ease;
  cursor: pointer;
}

.add-delete-button:hover {
  background-color: #E0801E;
  color: white;
}

.game-list {
  background-color: #363636;
  height: 100%;
  border-radius: 5px;
  border: 0;
  padding: 10px 0;
  cursor: pointer;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  background-color: #244880;
  cursor: pointer;
}

.game-wrapper .box-art {
  object-fit: cover;
  width: 60px;
  border-radius: 5px;
}

.game-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-expanded {
  text-align: center;
  border: 0;
  border-radius: 5px;
  background-color: #244880;
  padding: 5px 5px 10px;
  margin: 0 10px;
}

.game-name-wrapper .game-name {
  text-align: right;
}

.game-toggle {
  padding: 5px;
  color: transparent;  
  text-shadow: 0 0 0 white;
}

.results-error {
  padding: 50px 25px 25px;
  text-align: center;
  color: red;
}

.results-loading {
  padding: 50px 25px 25px;
  text-align: center;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  flex-direction: column;
  border-radius: 5px;
  background-color: #244880;
}

h3 {
  margin: 10px 0;
}

.friendLists-container {
  background-color: #343434;
  margin: 0 10px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
}

.friend-list {
  height: 285px;
  overflow: auto;
}

.empty-friend-list {
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #343434;
  text-align: center;
}

.common-games-list {
  text-align: center;
}

.user-container,
.friendLists-container {
  text-align: center;
  color: #fff;
}

.user-container {
  background-color: #808080;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
}

.login-submit {
  width: 30%;
  transition: .8s all ease;
}

.login-submit:hover {
  background-color: #E0801E;
  color: white;
}

.log-button {
  font-size: .8em;
  transition: .8s all ease;
}

.log-button:hover {
  background-color: #E0801E;
  color: white;
}

.reg-button {
  width: 30%;
  transition: .8s all ease;
}

.reg-button:hover {
  background-color: #E0801E;
  color: white;
}

.go-button {
  background-color: #E0801E;
}

.searchbar {
  text-align: center;
  margin: 10px 0;
}

.searchbar input {
  margin: 0 10px 15px 0;
}

.hover-text:hover {
  color: #E0801E;
}

.landing-icon {
  vertical-align: 0;
}
